* {
    box-sizing: border-box;
    font-size: 10px;
}

@font-face {
    font-family: MrsEaves;
    src: url(./font/MrsEavesOTRoman.otf) format("opentype");
}

@font-face {
    font-family: Interstate;
    src: url(./font/interstate.ttf) format("truetype");
}

div {
    scroll-behavior: smooth;
}

#bibliografia {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.header-padding {
    padding: 10%;
}

.secao-padding {
    padding: 5% 10%;
}

.secao-row {
    padding: 3% 0;
}

.interstate-menu {
    font-size: 2rem;
}

.header-secao {
    background-color: #157500;
    background-image: url(./img/header-background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header-introducao {
    margin: 0 auto;
    color: #FFF;
}

.col-introducao {
    width: 50%;
    margin: 0 auto;
}

.interstate {
    font-family: Interstate;
}

.interstate-h2 {
    font-size: 10rem;
}

.interstate-h4 {
    font-size: 5rem;
}

.interstate-h5 {
    font-size: 4rem;
}

.interstate-h6 {
    font-size: 2.5rem;
}

.interstate-analise, .mrs-eaves-analise {
    font-size: 5rem;
    text-align: center;
    padding-top: 50px;
}

.analise-row {
    background-color: #FAFCD1;
}

.interstate-grande {
    font-size: 15rem;
}

.mrs-eaves {
    font-family: MrsEaves;
}

.mrs-eaves-h3 {
    font-size: 9rem;
}

.mrs-eaves-p {
    font-size: 2.5rem;
}

.mrs-eaves-grande {
    font-size: 15rem;
}

.referencias-secao {
    background-color: #96e072;
    width: 100%;
}

.link-referencias {
    font-size: 2.5rem;
    color: inherit;
}

.link-referencias:hover {
    text-decoration: none;
    color: #FFF;
}

.img-regular {
    height: 750px;
    object-fit: cover;
    object-position: 0%;
}

.img-inicio {
    height: 750px;
    object-fit: cover;
    object-position: 10%;
}

.img-centro {
    height: 750px;
    object-fit: cover;
    object-position: 50%;
}

.img-fim {
    height: 750px;
    object-fit: cover;
    object-position: 100%;
}

.img-morfologia {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.autores-secao {
    background-color: #499167;
}

.img-autores {
    border-radius: 100%;
    width: 70%;
}

.nome-autores {
    font-size: 2rem;
}